<ul style="list-style-type: none; padding-left: 0;" class="">
  {{#each this.subLbl}}
  <div class="me-2">
    <li
      style="height: 40px"
      class="d-flex flex-row justify-content-between text-start caret_icon"
      aria-expanded="false"
      hx-get="/element/event/click/"
      hx-swap="innerHTML"
      hx-trigger="click"
      hx-target="#main-view"
      hx-vals='{
        "index": "{{ @../index }}",
        "sub_index": "{{ @index }}",
        "label": "{{ this.lbl }}",
        "view_id": "3", 
        "view_str": "sidnav"}'
    >
    <!-- {{ appData.view.[3].id }} -->
      <p style="font-size: 14px;"  class="mt-1 ms-4">{{ this.lbl }}</p>
    </li>
  </div>
  {{/each}} 
</ul>

    